html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='author', content='Sean Lai')
    meta(name='description', 
        content='The Portfolio of Sean Lai, Portland OR. A collection of art/design projects, documentation of places been, and professional work by Sean Lai.')
    meta(name='keywords', content='Origami, Automata, Design')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')  
  body
    div.row
      div.container
        hr.invis
        hr.invis
        div.span12
          div.hero-unit
             h1.text-center 404, 'tis a sad day