extends layout

block content
  div.spacer-main
  div.row
    div.span8
      div.hero-unit.text-right
        h1 Get in touch
    div.span3
      hr.contact-spacer
      ul.nav.nav-pills.nav-stacked
        li
          a.lead(href="https://twitter.com/DeanLai") Twitter
        li
          a.lead(href="mailto:sean.j.lai@gmail.com") sean.j.lai@gmail.com
        li
          a.lead(href="https://plus.google.com/u/0/103417873570462230688/about") Google+






    //-   a.btn.btn-info.btn-large.text-center(href="https://twitter.com/DeanLai") Twitter
    //- div.pull-left.button-spacer
    //-   a.btn.btn-large.text-center(href="mailto:sean.j.lai@gmail.com") sean.j.lai@gmail.com
    //- div.pull-left
    //-   a.btn.btn-danger.btn-large.text-center(href="https://plus.google.com/u/0/103417873570462230688/about") Google+

