extends layout

block content
  div.spacer-main
  div.container
    div.span12
      div.hero-unit.text-center
        h1 Mini sites n' such.
        p.lead Web development experiments, utilities, and other playful things
    div.span6.offset3
      table.table.table-bordered.table-hover
        thead
          tr
            th.span2 Date
            th.span4offset2 Minisite
        tbody
          tr
            td.span2 25 Jul, 2013
            td.span4offset2
              a(href="/minisites/coin") Flip a coin!
          tr
            td.span2 7 Aug, 2013
            td.span4offset2
              a(href="/minisites/energy") Layman's Energies
          tr
            td.span2 20 Sep, 2013
            td.span4offset2
              a(href="/minisites/Petrol") Petrol Pal