extends layout

block seconary-nav
  div.row.work-bar
      ul.nav.nav-tabs.text-center.navfix
        li
          a(href='#crane') A Crane Flies
        li
          a(href='#shinto') Headphone Shinto
        li
          a(href='#lostcoast') Lost Coast
        li
          a(href='#twodimensions') Two Dimensions
block content
  a#crane
  div.spacer-work
  div.hero-unit.text-center
    h1 A Crane Flies
    p.lead A prototype kinetic sculpture
    p Finnboard and Piano Wire, 2013
  div.container
      iframe.youtube(width="943", height="550", src="http://www.youtube.com/embed/EIdwXzBoeAs", allowfullscreen, frameborder="0")
      div.row
        div.span10.offset1
          p.lead.well For me, the beauty in automata is in the personal journey I take in discovering how motion and energy are converted from one form to another. Here, a comparatively quickly roating crank translates its movement through a set a cams to produce the illusion of a flying crane. The body and wing movements are offset by 90&deg; to mimic the lag time between a crane flapping its wings and its body moving upward.
      hr.invis
      ul.thumbnails
        li.span3
          a.thumbnail(href='#crane1', data-toggle='modal')
            img(src='/images/crane.jpg')
        li.span3
          a.thumbnail(href='#crane2', data-toggle='modal')
            img(src='/images/crane2.jpg')
        li.span3
          a.thumbnail(href='#crane3', data-toggle='modal')
            img(src='images/crane3.jpg')
        li.span3
          a.thumbnail(href='#crane4', data-toggle='modal')
            img(src='images/crane4.jpg')
      div#crane1.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
        div.modal-body
            img(src='/images/crane.jpg', data-dismiss='modal')
      div#crane2.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
        div.modal-body
            img(src='/images/crane2.jpg', data-dismiss='modal')
      div#crane3.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
        div.modal-body
            img(src='/images/crane3.jpg', data-dismiss='modal')
      div#crane4.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
        div.modal-body
            img(src='/images/crane4.jpg', data-dismiss='modal')
  hr
  a#shinto
  div.spacer-work
  div.hero-unit.text.text-center
    h1 Headphone Shinto Gate
    p.lead A study in joinery
    p Scrap cedar, 2012
  div.container
    div.row
      div.span10.offset1
        ul.thumbnails
          li.span5
            a.thumbnail(href='#shinto1', data-toggle='modal')
              img(src='/images/shinto1.jpg')
          li.span5
            a.thumbnail(href='#shinto2', data-toggle='modal')
              img(src='/images/shinto2.jpg')
    div.row
      div.span10.offset1
        ul.thumbnails
          li.span5
            a.thumbnail(href='#shinto3', data-toggle='modal')
              img(src='images/shinto3.jpg')
          li.span5
            a.thumbnail(href='#shinto4', data-toggle='modal')
              img(src='images/shinto4.jpg')
        div#shinto1.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
          div.modal-body
              img(src='/images/shinto1.jpg', data-dismiss='modal')
        div#shinto2.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
          div.modal-body
              img(src='/images/shinto2.jpg', data-dismiss='modal')
        div#shinto3.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
          div.modal-body
              img(src='/images/shinto3.jpg', data-dismiss='modal')
        div#shinto4.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
          div.modal-body
              img(src='/images/shinto4.jpg', data-dismiss='modal')
    div.row
        div.span10.offset1
          p.lead.well An experiment in building a wooden structure using no fasteners or adhesives. The project started as a simple solution for a headphone stand, but gained a new aesthetic through the constraint of only using joinery techniques to support the model.
  hr.invis
  hr
  a#lostcoast
  div.spacer-work
  div.hero-unit.text.text-center
    h1 The Lost Coast
    p.lead Photography from a backpacking trip on California's Lost Coast 
    p King Range National Conservation Area, 2013
  div.container
    div.row
      div.span12
        //- a.thumbnail(href='#LC-birds-wide', data-toggle='modal')
        img.thumbnail(src="images/LC-birds-wide.jpg")
    hr
    div.row
      div.span12
        ul.thumbnails
          li.span4
            a.thumbnail(href='#LC-sealions', data-toggle='modal')
              img(src='images/LC-sealions.jpg')
          li.span4
            a.thumbnail(href='#LC-dougal-table', data-toggle='modal')
              img(src='images/LC-dougal-table.jpg')
          li.span4
            a.thumbnail(href='#LC-driftwood', data-toggle='modal')
              img(src='images/LC-driftwood.jpg')
    div.row
      div.span10.offset1
        p.lead.well
          | It is a rare thing to find peace and isolation from the stimuli of urban life.
    hr.invis
    hr.invis
    hr
    div.row
      div.span12
        ul.thumbnails
          li.span4
            a.thumbnail(href='#LC-texture1', data-toggle='modal')
              img(src='images/LC-texture1.jpg')
          li.span4
            a.thumbnail(href='#LC-texture2', data-toggle='modal')
              img(src='images/LC-texture2.jpg')
          li.span4
            a.thumbnail(href='#LC-texture4', data-toggle='modal')
              img(src='images/LC-texture4.jpg')
    div.row
      div.span10.offset1
        p.lead.well
          | There arises a clarity of context around thoughts, motivations, problems, and desires.
          | All is more detailed, more acute, and yet more connected.
    hr.invis
    hr.invis
    hr
    div.row
      div.span12
        ul.thumbnails
          li.span4
            a.thumbnail(href='#LC-lighthouse1', data-toggle='modal')
              img(src='images/LC-lighthouse1.jpg')
          li.span4
            a.thumbnail(href='#LC-lighthouse2', data-toggle='modal')
              img(src='images/LC-lighthouse2.jpg')
          li.span4
            a.thumbnail(href='#LC-lighthouse4', data-toggle='modal')
              img(src='images/LC-lighthouse4.jpg')
    div.row
      div.span10.offset1
        p.lead.well
          | A relic of the near past is home for a night.
    hr.invis
    hr.invis
    hr
    div.row
      div.span8.offset2
        ul.thumbnails
          li.span4
            a.thumbnail(href='#LC-moon1', data-toggle='modal')
              img(src='images/LC-moon1.jpg')
          li.span4
            a.thumbnail(href='#LC-moon2', data-toggle='modal')
              img(src='images/LC-moon2.jpg')
    div.row
      div.span10.offset1
        p.lead.well
          | The moonlight reflects on the Pacific and
          | the Milky Way stretches from one horizon to the other and
          | you wax poetic about Carl Sagan, entropy, stardust.
    div.row
      div.span8.offset2
        ul.thumbnails
          li.span8
            a.thumbnail(href='#LC-coast-longexp', data-toggle='modal')
              img(src='images/LC-coast-longexp.jpg')
    div.row
      div.span10.offset1
        p.lead.well
          | And when you come to realize that there are only a few thousand such days left, 
          | you wonder why you work so hard.
    hr.invis
    p.muted.lead.pull-right see more photos on 
      a(href='http://www.flickr.com/photos/deanlai/sets/72157634336049388/') flickr
    //- div#LC-birds-wide.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-birds-wide.jpg', data-dismiss='modal')
    div#LC-sealions.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-sealions.jpg', data-dismiss='modal')
    div#LC-dougal-table.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-dougal-table.jpg', data-dismiss='modal')
    div#LC-driftwood.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-driftwood.jpg', data-dismiss='modal')
    div#LC-texture1.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-texture1.jpg', data-dismiss='modal')
    div#LC-texture2.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-texture2.jpg', data-dismiss='modal')
    div#LC-texture4.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-texture4.jpg', data-dismiss='modal')
    div#LC-lighthouse1.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-lighthouse1.jpg', data-dismiss='modal')
    div#LC-lighthouse2.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-lighthouse2.jpg', data-dismiss='modal')
    div#LC-lighthouse4.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-lighthouse4.jpg', data-dismiss='modal')
    div#LC-moon1.modal.hide.fade.constrain-width.constrain-width(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img.constrain-height(src='/images/LC-moon1.jpg', data-dismiss='modal')
    div#LC-moon2.modal.hide.fade.constrain-width.constrain-width(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img.constrain-height(src='/images/LC-moon2.jpg', data-dismiss='modal')
    div#LC-coast-longexp.modal.hide.fade(tabindex='-1', role='dialog', aria-hideen='false', keyboard='true', data-backdrop='true')
      div.modal-body
          img(src='/images/LC-coast-longexp.jpg', data-dismiss='modal')
  hr.invis
  hr
  a#twodimensions
  div.spacer-work
  div.hero-unit.text.text-center
    h1 Two Dimensions
    p.lead Graphics, Drawings, Type, and other flat things
  div.container
    div.row
      div.span10.offset1
        ul.thumbnails
          li.span10
            img.thumbnail(src='/images/dinneratlees.jpg')
    div.row
      div.span8.offset2
        p.lead.well A banner for dinner party events at a friend's house.
    hr.spacer-work
    div.row
      div.span10.offset1
        ul.thumbnails
          li.span10
            img.thumbnail(src='/images/squid.jpg')
    div.row
      div.span8.offset2
        p.lead.well Squid and cloud. Ink on bristol.
    hr.spacer-work
    div.row
      div.span10.offset1
        ul.thumbnails
          li.span10
            img.thumbnail(src='/images/nolalocales.png')
    div.row
      div.span8.offset2
        p.lead.well A city guide handout for a buggy tour-guide in New Orleans (1 of 2)
    hr.spacer-work
    div.row
      div.span10.offset1
        ul.thumbnails
          li.span10
            img.thumbnail(src='/images/handwriting.jpg')
    div.row
      div.span8.offset2
        p.lead.well Some quick handwriting samples.
