body {
    background-color: #69D2E7;
    color: white;
}
.container {
    background-color: #69D2E7;
    font-family: 'Open Sans', sans-serif;
    width: 960px;
    margin: 10px auto;
    border-radius: 10px;
}
h1 {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 20px;
    font-size: 48px;
}

.energybox {
    width: 450px;
    margin: 0 0 20px 20px;
    background-color: #F38630;
    border-radius: 5px;
    float: left;
}

.energybox h3 {
    margin: 20px 30px;
    /*height: 60px;*/
}
input {
    margin: 0 30px 0 30px;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 29px;
    width: 380px;
    background-color: #E0E4CC;
    border-width: 3px;
    border-color: #FA6900;
}
